body{
    font-family: 'Montserrat', sans-serif;
}





/* Navbar */

#logo-blue{
    color:#00a2e3;
    font-weight: 600;
}

#logo{}

#apoie-os-criadores{
    background-color: #00a2e3;
    border: #00a2e3;

    -webkit-transition: .3s
}

#apoie-os-criadores:hover{
    border: #00a2e3 solid 1px;
    color: #00a2e3;
    background-color: transparent;
    transition: .3s
}

#a-sobre-nos{
    color: white;
    text-decoration: none;

    -webkit-transition: .3s
}

#a-sobre-nos:hover{
    color: #00a2e3;
    transition: .3s
}




/* Conteudo Home */

b{
    color:#00a2e3;
    font-size: 16px;

    -webkit-transition: .3s
}

b:hover{
    color: white;
    transition: .3s;
}

b i{
    margin-right: 10px;
}

i{
    color: white;
}

span{
    margin-bottom: 30px;
    margin-top: 20px;
    font-style: italic;
    font-size: 16px;
    color: white;
}

.github-apoie{
    margin-top: 50px;
}

#input-principal{
    margin-bottom: 4px;
    margin-top: 40px;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    border:#00a2e3 2px solid;
    border-radius: 4px;
    color: white;
    font-size: 16px;
}

#input-motivo{
    border:#00a2e3 2px solid;
    border-radius: 4px;
    height: 80px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 16px;
    margin-top: 10px;
}












/* Animação Background*/

body {
	background: linear-gradient(to right top, #000000, #0b0b0b, #131313, #191919, #1f1f1f);
	margin: 0rem;
	min-height: 100vh;
}

#canvas{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}













/* Animação Botão */

#button-denuncia, #button-denuncia::after {
    margin-top: 20px;
    font-weight: bold;
    width: 300px;
    height: 46px;
    font-size: 18px;
    background-image: linear-gradient(to right top, #004c6b, #006087, #0076a5, #008cc3, #00a2e3);
    border: 0;
    color: #fff;
    letter-spacing: 2px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;

    /* Hover Out */
    -webkit-transition: .6s;
}

#button-denuncia:hover{
    transition: .6s;
    width: 450px;
    height: 42px;
}

#button-denuncia::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
  
    content: 'Enviar Denuncia';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00a2e3;
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

#button-denuncian:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}


	






/* Astronauta */

.astronaut img{
  width:100px;
  position:absolute;
  top:55%;
  animation:astronautFly 6s infinite linear;
}

@keyframes astronautFly{
  0%{
    left:-100px;
  }
  25%{
    top:50%;
    transform:rotate(30deg);
  }
  50%{
    transform:rotate(45deg);
    top:55%;
  }
  75%{
    top:60%;
    transform:rotate(30deg);
  }
  100%{
    left:91%;
    transform:rotate(45deg);
  }
}












#sobre-nos-card{
  background-color: #00a2e3;
  color: white;
}

#sobre-nos-card i{
  margin-top: 20px;
  margin-bottom: 20px;
}

#sobre-nos-card h5{
  margin-bottom: 40px;
}

#sobre-nos-card p{
  margin-bottom: 20px;
}





.custom-btn {
  width: 250px;
  height: 46px;
  padding: 10px 25px;
  margin-top: 20px;
  border: 2px solid #00a2e3;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #fff;
}

.custom-btn b{
  color: #fff;
  letter-spacing: 2px;
}

.btn-10 {
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-10:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
  color: #fff;
}
.btn-10:hover {
  color: #fff;
}
.btn-10:hover:after {
  background: #00a2e3;
  -webkit-transform: scale(1);
  transform: scale(1);
}
